## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

## Importing the dataset

In [2]:
data = pd.read_json("data/new-jobs/03-7-28-22/new_jobs-7-28-22.json")
data

,Profile URL,Full Name,Experiences,Educations,Skills
0,https://www.linkedin.com/in/evelio-sosa/,Evelio Sosa,[],"[{'university': 'Texas A&amp;M University', 'm...","[HTML5, Cascading Style Sheets (CSS), Python (..."
1,https://www.linkedin.com/in/jyothi-vutukuri-a9...,Jyothi Vutukuri,"[{'name': 'devops engineer', 'place': 'IBM · F...",[{'university': 'Jawaharlal Nehru Technologica...,"[Jenkins, Ansible, Git, AWS, Linux, Maven, She..."
2,https://www.linkedin.com/in/swarnava-basu/,Swarnava Basu,"[{'name': 'devops engineer', 'place': 'Codelog...",[{'university': 'Meghnad Saha Institute Of Tec...,"[Microsoft Azure, Amazon Web Services (AWS), G..."
3,https://www.linkedin.com/in/adhiradeogade/,Adhira Deogade,"[{'name': 'devops engineer', 'place': 'apple ·...",[],"[Machine Learning, Python (Programming Languag..."
4,https://www.linkedin.com/in/vikeshyadav/,Vikesh .,"[{'name': 'devops engineer', 'place': 'Google ...",[{'university': 'Maharshi Dayanand University'...,"[Amazon Web Services (AWS), DevOps, Linux Syst..."
...,...,...,...,...,...
596,https://www.linkedin.com/in/hossein-assaran/,Hossein Assaran,"[{'name': 'hardware engineer', 'place': 'FavaM...","[{'university': 'Shahed University', 'major': ...","[C, C++, Qt, ARM, Software Development, Microc..."
597,https://www.linkedin.com/in/ali-rafiee-983ba088/,Ali Rafiee,"[{'name': 'hardware engineer', 'place': 'Rayan...","[{'university': 'University of Tehran', 'major...","[Embedded Systems, Embedded Software, Electron..."
598,https://www.linkedin.com/in/kian-emami-5b1708b7/,Kian Emami,"[{'name': 'hardware engineer', 'place': 'Alaem...","[{'university': 'IAUCTB', 'major': 'others'}]","[Programming, Software Development, GNU/Linux,..."
599,https://www.linkedin.com/in/amir-hossein-binesh/,Amir hossein Binesh,"[{'name': 'hardware engineer', 'place': 'nove ...",[{'university': 'Sharif University of Technolo...,"[C++, Linux, ESP32 Microcontrollers, Arduino, ..."
600,https://www.linkedin.com/in/amirhosein-hajian-...,Amirhosein Hajian,"[{'name': 'hardware engineer', 'place': 'Freel...",[{'university': 'Quchan University of Technolo...,"[C (Programming Language), STM32, Electronics,..."

## creating new dataframe for the model

In [19]:
model_df = pd.DataFrame(columns=[
    # Skills
    "backend_frameworks",
    "frontend_frameworks",
    "programming_languages",
    "devops_technologies",
    "version_controls",
    "ui-ux",
    "system_design_skills",
    "databases",
    "ai_models",
    "ai_frameworks",
    "network_skills",
    "hardware_skills",
    "message_brokers",
    "os",
    # Educations
    "bachelor-computer engineering",
    "master-computer engineering",
    "phd-computer engineering",
    "other-majors",
    # Experiences
    "mobile developer",
    "data scientist",
    "network engineer",
    "data engineer",
    "data scientist",
    "software engineer",
    "frontend developer",
    "ui-ux designer",
    "hardware engineer",
    "devops engineer",
    "database administrator",
])
model_df

Empty DataFrame
Columns: [backend_frameworks, frontend_frameworks, programming_languages, devops_technologies, version_controls, ui-ux, system_design_skills, databases, ai_models, ai_frameworks, network_skills, hardware_skills, message_brokers, os, bachelor-computer engineering, master-computer engineering, phd-computer engineering, other-majors, mobile developer, data scientist, network engineer, data engineer, data scientist, software engineer, frontend developer, ui-ux designer, hardware engineer, devops engineer, database administrator]
Index: []

[0 rows x 29 columns]

## Skill Buckets

In [20]:
SKILL_BUCKETS = {
    "programming_languages": [
        "java",
        "kotlin",
        "xml",
        "swift",
        "android jetpack",
        "android data binding",
        "matlab",
        "ios",
        "r",
        "python",
        "php",
        "javascript",
        "HTML",
        "CSS",
        "typescript",
        "golang",
        "c++",
        "c#",
        "c",
    ],
    "backend_frameworks": [
        "ASP .NET",
        "django",
        "spring",
        "laravel",
    ],
    "devops_technologies": [
        "kubernetes",
        "docker",
        "Node js",
        "elixir",
        "ansible",
        "openshift",
        "google cloud platform",
        "infrastructure",
        "azure",
        "containerization",
        "aws",
        "jenkins",
        "prometheus",
        "helm chart",
        "CI-CD",
        "cloud endure",
        "cloud migration",
        "cloud backup",
        "cloud computing",
        "devops",
    ],
    "frontend_frameworks": [
        "react",
        "vuejs",
        "angular",
        "redux",
        "ajax",
        "jquery",
        "nextjs",
        "less",
        "bootstrap",
    ],
    "system_design_skills": [
        "mobile application",
        "oop",
        "design patterns",
        "software engineering",
        "algorithm",
        "web development",
        "microservices",
        "unit testing",
        "data structure",
        "grpc",
    ],
    "version_controls": [
        "git"
    ],
    "ui-ux": [
        "graphic design",
        "illustrator",
        "figma",
        "adobe xd",
        "photoshop",
        "ui-ux",
    ],
    "data_related": [
        "data-integration",
        "big data",
        "data",
        "spark",
    ],
    "databases": [
        "data migration",
        "mongodb",
        "database design",
        "nosql",
        "mysql",
        "postgresql",
        "sqlite",
        "graphql",
        "elasticsearch",
        "redis",
        "data center",
        "mariadb",
        "oracle",
        "sql",
    ],
    "ai_modeling": [
        "regression testing",
        "predictive modeling",
        "image processing",
        "data science",
        "NLP",
        "data modeling",
        "computer vision",
        "big data",
        "deep learning",
        "data mining",
    ],
    "ai_frameworks": [
        "pytorch",
        "keras",
        "tensorflow",
        "scikit-learn",
    ],
    "network_skills": [
        "routing protocols",
        "cisco",
        "wireless",
        "vpn",
        "switching",
        "dhcp server",
        "network security",
        "lan-wan"
        "hacking",
        "cybersecurity",
        "penetration test",
        "network administration",
        "network security",
    ],
    "message_brokers": [
        "apache kafka",
        "rabbitmq",
    ],
    "hardware_skills": [
        "FPGA",
        "PCB design",
        "VLSI",
        "IOT",
        "circuit design",
        "embedded",
        "microcontroller",
        "signal processing",
        "raspberry pi",
        "verilog",
        "stm32",
        "ARM",
        "xilinx",
        "arduino",
        "simulink",
        "matlab",
        "VHDL",
        "proteus",
    ],
    "os": [
        "linux",
        "vmware",
    ]
}

## Education Categories

In [24]:
EDUCATIONS = [
    "bachelor-computer engineering",
    "master-computer engineering",
    "phd-computer engineering",
    "others",
]

## Create conditions

In [26]:
for index, row in data.iterrows():
    counter_programming = 0
    counter_bachelor = 0
    counter_master = 0
    counter_phd = 0
    counter_other_majors = 0
    if index > 4 :
        break
    for itemSkill in row["Skills"]:
        # programming_languages
        for i in range(len(SKILL_BUCKETS["programming_languages"])):
            if ((SKILL_BUCKETS["programming_languages"][i]).lower() in itemSkill.lower()) and abs(len(itemSkill.lower()) - len(SKILL_BUCKETS["programming_languages"][i])) < 3:
                counter_programming += 1
                print(SKILL_BUCKETS["programming_languages"][i], " -- ", itemSkill, " -- ", index)

    # Educations
    for itemEducation in row["Educations"]:
        if itemEducation["major"] == EDUCATIONS[0]:
            counter_bachelor = 1
        if itemEducation["major"] == EDUCATIONS[1]:
            counter_master = 1
        if itemEducation["major"] == EDUCATIONS[2]:
            counter_phd = 1
        if itemEducation["major"] == EDUCATIONS[3]:
            counter_other_majors = 1

    # Experiences
    for itemExperience in row["Experiences"]:
        pass
        # if itemExperience["name"] ==

    model_df = model_df.append({
        'programming_languages': counter_programming / len(SKILL_BUCKETS["programming_languages"]),
        'bachelor-computer engineering': counter_bachelor,
        "master-computer engineering": counter_master,
        "phd-computer engineering": counter_phd,
        "other-majors": counter_other_majors,
    }, ignore_index=True)
    print(counter_programming)
model_df

HTML  --  HTML5  --  0
java  --  Java  --  0
javascript  --  JavaScript  --  0
c++  --  C++  --  0
c  --  C++  --  0
5
0
javascript  --  JavaScript  --  2
1
c  --  C  --  3
matlab  --  Matlab  --  3
2
0

,backend_frameworks,frontend_frameworks,programming_languages,devops_technologies,version_controls,ui-ux,system_design_skills,databases,ai_models,ai_frameworks,...,data scientist,network engineer,data engineer,data scientist,software engineer,frontend developer,ui-ux designer,hardware engineer,devops engineer,database administrator
0,NaN,NaN,0.263158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,0.052632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,0.105263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,0.263158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,0.052632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,0.105263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN